{% extends 'app/main.html' %}
{% block content %}
{% load static %}
	<!-- section -->
    <div class="section" style="margin-top: 100px;">
        <div class="container">
            <div class="row">
                <div class="col-md-10 layout_padding_2" style="margin: 0 auto; text-align: center;">
                    <div class="full">
                        <img style="filter: blur(3px); width: 400px;" src="{{ image }}" alt="#" />
                    </div>
                </div>
                <div class="col-md-8 layout_padding_2" style="margin: -150px auto 0 auto;">
                    <div class="full">
                        <div class="heading_main text_align_center">
						   <h2><span>Welcome To</span> {{subject_name}}</h2>
                        </div>
						<div class="full">
						  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
						  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
						  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
						</div>
                    </div>
                </div>

            </div>
            {% for subject in subjects %}
            <div class="row">
                <div class="col-md-6 layout_padding_2">
                    <div class="full">
                        <div class="heading_main text_align_left">
						   <h2><span>{{subject.name}}</span> </h2>
                        </div>
						<div class="full">
						  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
						  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
						  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
						</div>
                    </div>
                    <button class="btn btn-success"><a href="{% url 'test' subject.id %}">Start test</a></button>
                </div>
				<div class="col-md-6 layout_padding_2">
                    <div class="full">
                        <img src="{{ subject.imageURL }}" style="width: 400px; margin-left: 50px;" alt="#" />
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="col-md-10 comment">
                <div class="full">
                    {% if comment %}
                        {% for comment in comment %}
                            <small>{{ comment.user.username }}</small><br>
                                <b>{{ comment.comment|safe }}</b><br>
                            <small>{{ comment.time }}</small><br>
                            <hr>
                        {% endfor %}
                        {% else %}
                            <p>No comments so far...</p>
                    {% endif %}
                </div>
            </div>
            <div>
                <form action="{% url 'comment' subject_id %}" method="post" style="width: 100%; margin-top: 10px; text-align: center;">
                    {% csrf_token %}
                    {{ form }}
                    <button class="btn btn-success">Send</button>
                </form>
            </div>
        </div>
    </div>
	<!-- end section -->
{% endblock %}