<!DOCTYPE html>
{% load static %}
{% csrf_token %}
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Metas -->
    <title>Online Test</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="{% static 'css/FA/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">


    <link href="{% static 'test/select/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'test/css/userpage.css' %}" rel="stylesheet" media="all">
    {% block head %}
    {% endblock %}
    <!--[if lt IE 9]>
      <script src="{% static "test/select/html5shiv.js" %}"></script>
      <script src="{% static "test/select/respond.min.js" %}"></script>
    <![endif]-->
    <script>
		function getCookie(name) {
			let cookieValue = null;
			if (document.cookie && document.cookie !== '') {
				const cookies = document.cookie.split(';');
				for (let i = 0; i < cookies.length; i++) {
					const cookie = cookies[i].trim();
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) === (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
		const csrftoken = getCookie('csrftoken');
	</script>   
</head>

    <nav class="navbar navbar1 navbar-expand-lg navbar-light bg-white">
      <div class="container-fluid container">
        <a class="navbar-brand main_logo " href="#"><img style="padding-top: 10px;" width="200px" height="60px" src="{% static 'images/online_test_logo.jpg' %}" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link activ menu1" aria-current="page"href="{% url 'index' %}"><i class="fas fa-home"></i> HOME</a>
            <a class="nav-link menu1" href="{% url 'start' %}"><i class="fas fa-spell-check"></i> ONLINE TEST</a>
            <a class="nav-link menu1" href="{% url 'allusers' %}"><i class="fas fa-users"></i> USERS</a>
            {% if request.user.is_authenticated %}
            <a class="nav-link menu1" href="{% url 'log_out' %}"><i class="fas fa-sign-out-alt"></i> LOG OUT</a>
            <a class="nav-link menu1" href="{% url 'userpage' request.user.id %}"><i class="fas fa-user"></i> {{ request.user.username }}</a>
            {% else %}
            <a class="nav-link menu1" href="{% url 'log_in' %}"><i class="fas fa-sign-in-alt"></i> LOG IN</a>
            <a class="nav-link menu1" href="{% url 'register' %}"><i class="fas fa-sign-in-alt"></i> SIGN UP</a>
            {% endif %}
            {% if request.user.is_staff %}
                <a class="nav-link menu1" href="{% url 'dashboard' %}"><i class="fas fa-user-cog"></i> ADMIN</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>       
        <!-- navbar end -->
<div class="container">
{% block content %}

{% endblock %}

</div>
<!-- footer start -->
<div class="footer row">
    <div class="col-3">
      <h3>PERFEKT LEARN</h3>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat voluptatem vel modi similique quidem consectetur asperiores ut minus deserunt ad! Sapiente perspiciatis cum aspernatur, tempora unde sunt deserunt obcaecati.
    </div>
    <div class="col-3 quick_links">
      <h3>Quick links</h3>
      <h6>>Join Us</h6>
      <h6>>Mointanance</h6>
      <h6>>Language Packs</h6>
      <h6>>Learn Press</h6>
      <h6>>Release Status</h6>
    </div>
    <div class="col-3"></div>
    <div class="col-3 contact_us">
      <h3>Contack Us</h3>
      <h6><i class="fab fa-telegram-plane"></i>  Telegram</h6>
      <h6><i class="fab fa-instagram"></i>  Instagram</h6>
      <h6><i class="fab fa-twitter"></i>  Twitter</h6>
      <h6><i class="fab fa-youtube"></i>  Youtube</h6>
      <h6><i class="fas fa-envelope"></i>  Email</h6>
    </div>
  </div>
   <!-- footer end -->
 <!-- ALL JS FILES -->
    <script src="{% static 'home/js/jquery.min.js' %}"></script>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'home/js/isotope.min.js' %}"></script>
    <script src="{% static 'home/js/images-loded.min.js' %}"></script>
    <script src="{% static 'home/js/custom.js' %}"></script>
    <script src="{% static 'test/js/testing.js' %}"></script>
    <!-- CKeditor -->
	<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    {% block footer %}
    {% endblock %}
</body>

</html>
