{% extends 'app/main.html' %}
{% load static %}
{% load video_tags %}
{% block head %}
<link href="{% static 'test/css/profile.css' %}" rel="stylesheet" media="all">
<link rel="stylesheet" href="{% static 'users/pagenition.css' %}">
<link rel="stylesheet" href="{% static 'users/bootstrap/css/bootstrap.min.css' %}">
{% endblock %}
{% block content %}
<div class="container">
		<!-- users  -->
		<h2 style="text-align: center; font-family: Cambria; padding:20px;">Users</h2>
		<div class="physicianList">
			<input type='hidden' id='current_page' />
			<input type='hidden' id='show_per_page' />
                <ul id="pagingBox">
            {% for profile in profiles %}
            {% if profile.status %}
                    <li class="users1">
                        <div class="physicianBox">
                            {% if profile.imageURL %}
                            <div class="physicianPic">
                                <img src="{{ profile.imageURL }}" alt="user_4" border="0">
                            </div>
                            {% else %}
                            <div class="physicianPic">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user_4" border="0">
                            </div>
                            {% endif %}
                            <div class="physicianInfo">
                                <div class="info">
                                    <h3 style="margin-bottom: 10px;">{{ profile.user.username }}</h3>									<div style="width: 95%; margin-left: 8px;" class="row">
                                        <div class="col-4 col-xs-4 col-md-4 col-lg-4">
                                            <h3>{% all profile %}</h3>
                                            <p>Test done</p>
                                        </div>
                                        <div class="col-4 col-xs-4 col-md-4 col-lg-4">
                                            <h3>{{ profile.user_type }}</h3>
                                            <p>Status</p>
                                        </div>
                                        <div class="col-4 col-xs-4 col-md-4 col-lg-4">
                                            <h3>{% rank profile %}%</h3>
                                            <p>Ranks</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
            {% endif %}
        {% endfor %}
        </ul>
		</div>
		<div id='page_navigation'></div>
		<!-- users  end  -->
	</div>
{% block footer %}
    <script src="{% static 'users/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="{% static 'users/pagenition.js' %}"></script>
  {% endblock %}
{% endblock %}