{% extends 'app/main.html' %}
{% load crispy_forms_tags %}
{% load video_tags %}
{% block content %}
<div class="col-lg-6">
  <div class="card">
      <div class="modal fade" id="UpdateProfileModal" role="dialog" tabindex="-1">
          <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title"><b>Update Profile</b></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-start">
                  <form accept-charset="utf-8" method="post" enctype="multipart/form-data">
                     {% csrf_token %}
                     {{form|crispy}}
                     <input type="submit" class="btn btn-success" style="float: right; margin-top:10px;">Submit
                  </form>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>
<div class="container" style="margin-top: 90px;">
    <div class="main-body">    
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    {% if profile.imageURL %}
                    <img src="{{ profile.imageURL }}" alt="Admin" class="rounded-circle" width="150">
                    {% else %}
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                    {% endif %}
                  </div>
                  <b><p style='text-align:center'>{{ profile.user.username }}</p></b>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Username</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ profile.user.username }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ profile.user.email }}
                    </div>
                  </div>
                  <hr>
                  {% if profile.user.username == request.user.username %}
                  <div class="row" style="width: 100%;">
                    <div class="form-check form-switch" style="width: 90%;">
                      {% if profile.status %}
                      <p style="display: inline-block;">Profile visibility</p>
                      <label class="switch" style="margin-left:10%; margin-top: -20px;  display: inline-block;">
                        <input type="checkbox" checked >
                        <span onclick="change({{ profile.user.id }})" class="slider round"></span>
                      </label>
                      {% else %}
                      <p style="display: inline-block;">Profile visibility</p>
                      <label class="switch" style="margin-left:10%; margin-top: -20px;  display: inline-block;">
                        <input type="checkbox" >
                        <span onclick="change({{ profile.user.id }})" class="slider round"></span>
                      </label>
                      {% endif %}
                    </div>
                    <div class="col-sm-12" style="margin-left: 80%;">
                      <a class="btn btn-info " data-bs-toggle="modal" data-bs-target="#UpdateProfileModal">Edit</a>
                    </div>
                  {% else %}
                  {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
      <div class="results">
          <table class="table table-hover">
            <thead>
              <tr><h3> User score</h3></tr>
              <tr>
                <th scope="col">№</th>
                <th scope="col">Subject name</th>
                <th scope="col">Total questions</th>
                <th scope="col">Score</th>
                <th scope="col">Date</th>
              </tr>
            </thead>
            <tbody>
           {% for attemp in attemps %}
            <tr>
              <th>{{ forloop.counter }}</th>
              <th scope="row">
                  <a>{% subjects attemp %}</a><br>
              </th>
              <th>{% tottal attemp %}</th>
              <th>{% score attemp %}</th>
              <th>{{ attemp.started_time }}</th>
              <td>

              <a class="btn btn-alert" style="background-color: red" href="{% url 'delete_attempt' attemp.id %}" ><i class="fa fa-trash"></i>Delate</a><br>
              </td>
            </tr>
          {% endfor %}
            </tbody>
          </table>
        </div>
  </div>    

{% endblock %}